*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/modules.xml
.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.dex
bin/
gen/
Thumbs.db
app/libs/
/.idea/
/app/src/main/java/app/geo/fragments/MapsFragmentOld.java
/app/src/main/res/values/keys.xml
