<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.geo">

    <application
        android:name=".main.GeoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GeoMenu"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".activity.Login"
            android:label="@string/login">
        </activity>
        <activity
            android:name=".activity.Map"
            android:label="@string/map">
        </activity>
        <activity
            android:name=".activity.CacheList"
            android:label="@string/cache_list">
        </activity>
        <activity
            android:name=".activity.MyCache"
            android:label="@string/my_cache">
        </activity>
        <activity
            android:name=".activity.AddCache"
            android:label="@string/add_cache">
        </activity>
        <activity
            android:name=".activity.Mail"
            android:label="@string/mail">
        </activity>
        <activity
            android:name=".activity.Settings"
            android:label="@string/settings">
        </activity>
        <activity
            android:name=".activity.Signup"
            android:label="@string/signup">
        </activity>
    </application>
</manifest>